
@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>
<div style="text-align:center">
    <iframe src="https://www.google.com/calendar/embed?src=district23hotline%40gmail.com&ctz=America/Chicago" style="border: 0" width="1600" height="800" frameborder="0" scrolling="no"></iframe>
</div>

